@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:is(a, h1, h2, h3, h4, h5, h6, td, th, li, span, strong, dl, dd, div, section, button, p) {
    font-family: 'Noto Sans KR', sans-serif !important;
}


.section-wrap {
    position: relative;
    min-height: 500px;
    height: auto;
    padding-top:3rem;
    padding-bottom:3rem;
}

.user-session {top:4px; right:4px;}

.naver-button {
    background-color: #19ce60 !important;
}
.kakao-button {
    background-color: #fae100 !important;
}
.google-button {
    background-color: #fff !important;
    color:#333 !important;
}
.wrap {
    position: relative;
    width:100%;
    max-width:1200px;
    min-width:280px;
    margin:0 auto;
}

