@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:is(a, h1, h2, h3, h4, h5, h6, td, th, li, span, strong, dl, dd, div, section, button, p) {
    font-family: 'Noto Sans KR', sans-serif !important;
}

header .navbar-brand a {
    font-family: 'yg-jalnan', sans-serif !important;
    font-size:25px;
}


.user-session {top:4px; right:4px;}

.naver-button {
    background-color: #19ce60 !important;
}
.kakao-button {
    background-color: #fae100 !important;
}
.google-button {
    background-color: #fff !important;
    color:#333 !important;
}


.resize-textarea {
    height: 400px !important;
    resize: none;
}